<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
	<title>自定义仿真</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div class="container">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h1 class="middle">多层介质球电磁散射仿真软件</h1>
			</div>
			<ul class="breadcrumb" style="font-size:20px;margin-top:10px;margin-bottom:0px;">
			  <li class="active">自定义</li>		  
			  <li><a href="longbo">龙伯球</a> <span class="divider"></span></li>
			  <li><a href="yinxing">隐形材料</a> <span class="divider"></span></li>
			</ul>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-5">
						<div class="panel panel-info" style="height:305px;overflow-y:scroll;">
							<div class="panel-heading">
								<h3 class="middle">自定义仿真</h3>
							</div>
							<div class="panel-body">
								<form class="form-horizontal" action="/zidiying" method="post">
									<div class="form-group">
										<label class="col-sm-4 text-1">层数</label>
										<div class="col-sm-4">
											<input type="text" name="z0" class="form-control" placeholder="层数(1-10的整数){{dataIn.z0}}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 text-1">r1</label>
										<div class="col-sm-2">
											<input type="text" name="f1" class="form-control" placeholder="半径">
										</div>
										<label class="col-sm-1 text-1">cm</label>
										<label class="col-sm-1 text-1">ε1</label>
										<div class="col-sm-2">
											<input type="text" name="z1" class="form-control" placeholder="实部">
										</div>
										<label class="col-sm-1 control-label">+j</label>
										<div class="col-sm-2">
											<input type="text" name="j1" class="form-control" placeholder="虚部">
										</div>
										<div class="col-sm-2">	
										</div>
										<div class="col-sm-2">
											<button type="submit" class="btn btn-info">确 定</button>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 text-1">r2</label>
										<div class="col-sm-2">
											<input type="text" name="f2" class="form-control" placeholder="半径">
										</div>
										<label class="col-sm-1 text-1">cm</label>
										<label class="col-sm-1 text-1">ε2</label>
										<div class="col-sm-2">
											<input type="text" name="z2" class="form-control" placeholder="实部">
										</div>
										<label class="col-sm-1 control-label">+j</label>
										<div class="col-sm-2">
											<input type="text" name="j2" class="form-control" placeholder="虚部">
										</div>
										<div class="col-sm-2">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 text-1">r3</label>
										<div class="col-sm-2">
											<input type="text" name="f3" class="form-control" placeholder="半径">
										</div>
										<label class="col-sm-1 text-1">cm</label>
										<label class="col-sm-1 text-1">ε3</label>
										<div class="col-sm-2">
											<input type="text" name="z3" class="form-control" placeholder="实部">
										</div>
										<label class="col-sm-1 control-label">+j</label>
										<div class="col-sm-2">
											<input type="text" name="j3" class="form-control" placeholder="虚部">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 text-1">r4</label>
										<div class="col-sm-2">
											<input type="text" name="f3" class="form-control" placeholder="半径">
										</div>
										<label class="col-sm-1 text-1">cm</label>
										<label class="col-sm-1 text-1">ε4</label>
										<div class="col-sm-2">
											<input type="text" name="z3" class="form-control" placeholder="实部">
										</div>
										<label class="col-sm-1 control-label">+j</label>
										<div class="col-sm-2">
											<input type="text" name="j3" class="form-control" placeholder="虚部">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 text-1">r5</label>
										<div class="col-sm-2">
											<input type="text" name="f3" class="form-control" placeholder="半径">
										</div>
										<label class="col-sm-1 text-1">cm</label>
										<label class="col-sm-1 text-1">ε5</label>
										<div class="col-sm-2">
											<input type="text" name="z3" class="form-control" placeholder="实部">
										</div>
										<label class="col-sm-1 control-label">+j</label>
										<div class="col-sm-2">
											<input type="text" name="j3" class="form-control" placeholder="虚部">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 text-1">r6</label>
										<div class="col-sm-2">
											<input type="text" name="f3" class="form-control" placeholder="半径">
										</div>
										<label class="col-sm-1 text-1">cm</label>
										<label class="col-sm-1 text-1">ε6</label>
										<div class="col-sm-2">
											<input type="text" name="z3" class="form-control" placeholder="实部">
										</div>
										<label class="col-sm-1 control-label">+j</label>
										<div class="col-sm-2">
											<input type="text" name="j3" class="form-control" placeholder="虚部">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 text-1">r7</label>
										<div class="col-sm-2">
											<input type="text" name="f3" class="form-control" placeholder="半径">
										</div>
										<label class="col-sm-1 text-1">cm</label>
										<label class="col-sm-1 text-1">ε7</label>
										<div class="col-sm-2">
											<input type="text" name="z3" class="form-control" placeholder="实部">
										</div>
										<label class="col-sm-1 control-label">+j</label>
										<div class="col-sm-2">
											<input type="text" name="j3" class="form-control" placeholder="虚部">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 text-1">r8</label>
										<div class="col-sm-2">
											<input type="text" name="f3" class="form-control" placeholder="半径">
										</div>
										<label class="col-sm-1 text-1">cm</label>
										<label class="col-sm-1 text-1">ε8</label>
										<div class="col-sm-2">
											<input type="text" name="z3" class="form-control" placeholder="实部">
										</div>
										<label class="col-sm-1 control-label">+j</label>
										<div class="col-sm-2">
											<input type="text" name="j3" class="form-control" placeholder="虚部">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 text-1">r9</label>
										<div class="col-sm-2">
											<input type="text" name="f3" class="form-control" placeholder="半径">
										</div>
										<label class="col-sm-1 text-1">cm</label>
										<label class="col-sm-1 text-1">ε9</label>
										<div class="col-sm-2">
											<input type="text" name="z3" class="form-control" placeholder="实部">
										</div>
										<label class="col-sm-1 control-label">+j</label>
										<div class="col-sm-2">
											<input type="text" name="j3" class="form-control" placeholder="虚部">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 text-1">r10</label>
										<div class="col-sm-2">
											<input type="text" name="f3" class="form-control" placeholder="半径">
										</div>
										<label class="col-sm-1 text-1">cm</label>
										<label class="col-sm-1 text-1">ε10</label>
										<div class="col-sm-2">
											<input type="text" name="z3" class="form-control" placeholder="实部">
										</div>
										<label class="col-sm-1 control-label">+j</label>
										<div class="col-sm-2">
											<input type="text" name="j3" class="form-control" placeholder="虚部">
										</div>
									</div>
		·						</from>
							</div>
						</div>
						<div class="panel panel-warning" style="height:305px;overflow-y:scroll;">
							<div class="panel-heading">
								<h3 class="middle">计算结果</h3>
							</div>
							<div class="panel-body">
								<table id="calResult" class="table table-striped">
									<tr>
										<td style="text-align:center;">角度(θ)</td>
										<td style="text-align:center;">RCS(theta-theta)</td>
										<td style="text-align:center;">RCS(phi-phi)</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="panel panel-danger">
							<div class="panel-heading">
								<h3 class="middle">自定义散射截面</h3>
							</div>
							<div class="panel-body">
								<img src="data/zidingyi1.png"  alt="自定义散射截面" style="margin-left: 20px;width:733px;height:550px;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script>
	var calResult = document.getElementById('calResult');
	var result = [12.8563, 13.1891, 13.6803, 14.2536, 14.8314, 15.3469, 15.7500, 16.0071, 16.0997];
	var num = [12.7787, 12.8958, 13.0785, 13.3101, 13.5710, 13.8409, 14.1011, 14.3356, 14.5322];
	var calResultHTML = '<tr><td style="text-align:center;">角度(θ)</td><td style="text-align:center;">RCS(theta-theta)</td><td style="text-align:center;">RCS(phi-phi)</td></tr>';
	// var index = 1;
	// result.forEach(function(num) {
	// 	calResultHTML += '<tr><td style="text-align:center;">' + index++ + '</td><td style="text-align:center;">' + num + '</td><td style="text-align:center;">' + num2 + '</td></tr>';
	// });
	for (var i = 0; i < result.length; i++) {
		calResultHTML += '<tr><td style="text-align:center;">' + (i+1) + '</td><td style="text-align:center;">' + result[i] + '</td><td style="text-align:center;">' + num[i] + '</td></tr>';

	};
	calResult.innerHTML = calResultHTML;
</script>
</html>